@import "../../page/style.less";

div.selectbox {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
		0 9px 46px 8px rgba(0, 0, 0, 0.12);
	position: absolute;
	left: 50%;
	bottom: 120px;
	transform: translateX(-50%);
	transition: display 0.3s;

	width: 300px;
	font-size: 16px;
	height: 400px;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;

	& > .progress {
		width: 100%;

		& ~ .indicate {
			margin: 10px 0;
		}
	}

	.dialog-1,
	.dialog-2,
	.dialog-3,
	.dialog-4 {
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.dialog-1 {
		div:first-child {
			font-size: 14px;
			align-self: flex-start;
			padding: 15px;
			border-radius: 3px;
			box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 1px 5px 0 rgba(0, 0, 0, 0.12);
		}
	}

	.dialog-2 {
		.balance {
			padding: 5px;
			border-radius: 3px;
			border-style: dashed;
			border-width: 2px;
			border-color: #888b96;
			background-color: #d8dcf0;
		}

		a {
			width: 80px;
			align-self: center;
			margin-top: 10px;
			font-size: 14px;
			color: @color-main;
			text-decoration: none;
		}
	}

	.dialog-3 {
		label {
			margin: 0 0 60px 0;
		}

		div:last-child {
			width: 40px;
			height: 40px;
			align-self: center;
		}
	}

	.btngroup {
		color: @color-main;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-flow: row;
		margin-bottom: 15px;
	}
}
