div.info {
	div.head {
		height: 160px;
		padding: 50px;
		color: white;
		background-color: #3f51b5;
		display: flex;
		flex-direction: column;
		word-wrap: break-word;

		& > label:first-child {
			font-size: 26px;
			margin-top: 60px;
		}

		& > label:last-child {
			font-size: 21px;
			margin-top: 30px;
		}
	}

	div.body {
		@width: 280px;
		@left-1: 20%;
		@left-2: 35%;
		@right: 20%;

		font-size: 18px;
		height: calc(100vh - 50px - 260px);
		display: grid;
		grid-template-rows: 100px repeat(3, 1fr) 0.6fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		place-content: center;

		a {
			color: #000000db;
			text-decoration: none;
		}

		.up {
			width: @width;
			height: 80px;
			text-align: center;
			position: relative;
			align-self: end;
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2;

			span,
			i,
			a {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			i {
				left: @left-1;
			}

			span {
				left: @left-2;
			}

			a {
				right: @right;
				color: #3f51b5;
			}
		}

		.mid {
			width: @width;
			height: calc(100% - 60px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-self: center;
			grid-row-start: 2;
			grid-row-end: 5;
			grid-column-start: 1;
			grid-column-end: 2;

			a {
				text-align: center;
				position: relative;
				height: 50px;

				span {
					position: absolute;
					top: 50%;
					left: @left-2;
					transform: translateY(-50%);
				}

				i {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					&:first-child {
						left: @left-1;
					}

					&:last-child {
						right: @right;
					}
				}
			}
		}

		.down {
			width: @width;
			height: 50px;
			align-self: start;
			grid-row-start: 5;
			grid-row-end: 6;
			grid-column-start: 1;
			grid-column-end: 2;
			text-align: center;

			button {
				font-size: 16px;
				color: #f73d16;
				cursor: pointer;
				background-color: #ffffff00;
				text-transform: uppercase;
				text-decoration: none;
				border-style: none;
				margin: 10px;
			}
		}
	}
}
