div.navbar {
  width: 100vw;
  height: 50px;
  bottom: 0;
  position: fixed;
  box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.12);
  z-index: 99;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mdui-textfield {
  position: relative;
  padding-top: 1px;
  padding-bottom: 26px;
  overflow: hidden;
}
.authbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #3f51b5;
}
.authbox div.textfield {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.authbox div.textfield.signup {
  height: 240px;
}
.authbox div.textfield.signin {
  height: 180px;
}
.authbox img.logo {
  margin-top: 100px;
  width: 120px;
  height: 120px;
}
.authbox div.btn {
  margin: 20px auto 0 auto;
  font-size: 16px;
}
.authbox div.tipbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.lang {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 40;
  right: 40;
}
.lang .on {
  font-size: 21px;
}
.lang .off {
  font-size: 19px;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.tipbox a {
  width: 85px;
  cursor: pointer;
  text-align: center;
  word-break: break-word;
  text-transform: uppercase;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.selectbox {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  transition: display 0.3s;
  width: 300px;
  font-size: 16px;
  height: 400px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
div.selectbox > .progress {
  width: 100%;
}
div.selectbox > .progress ~ .indicate {
  margin: 10px 0;
}
div.selectbox .dialog-1,
div.selectbox .dialog-2,
div.selectbox .dialog-3,
div.selectbox .dialog-4 {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div.selectbox .dialog-1 div:first-child {
  font-size: 14px;
  align-self: flex-start;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.selectbox .dialog-2 .balance {
  padding: 5px;
  border-radius: 3px;
  border-style: dashed;
  border-width: 2px;
  border-color: #888b96;
  background-color: #d8dcf0;
}
div.selectbox .dialog-2 a {
  width: 80px;
  align-self: center;
  margin-top: 10px;
  font-size: 14px;
  color: #3f51b5;
  text-decoration: none;
}
div.selectbox .dialog-3 label {
  margin: 0 0 60px 0;
}
div.selectbox .dialog-3 div:last-child {
  width: 40px;
  height: 40px;
  align-self: center;
}
div.selectbox .btngroup {
  color: #3f51b5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  margin-bottom: 15px;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.park {
  height: calc(100vh - 50px);
}
div.park .banner {
  width: 340px;
  margin-top: 70px;
  left: 50%;
  position: absolute;
  transition-property: all;
  transition-duration: 0.4s;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.12);
}
div.park .banner img {
  margin: 10px;
  width: 320px;
}
div.park .greeting {
  left: 50%;
  position: absolute;
  font-size: 19px;
  line-height: 2;
  width: 240px;
  text-align: center;
  transition-property: all;
  transition-duration: 0.4s;
}
div.park button {
  height: auto;
  border-radius: 2px;
  transition-property: all;
  transition-duration: 0.4s;
  z-index: 1;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.info div.head {
  height: 160px;
  padding: 50px;
  color: white;
  background-color: #3f51b5;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
div.info div.head > label:first-child {
  font-size: 26px;
  margin-top: 60px;
}
div.info div.head > label:last-child {
  font-size: 21px;
  margin-top: 30px;
}
div.info div.body {
  height: calc(100vh - 50px - 260px);
  font-size: 18px;
  display: grid;
  grid-template-rows: 100px repeat(3, 1fr) 0.6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-content: center;
}
div.info div.body a {
  color: #000000db;
  text-decoration: none;
}
div.info div.body .up {
  width: 300px;
  height: 80px;
  text-align: center;
  position: relative;
  align-self: end;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
div.info div.body .up span,
div.info div.body .up i,
div.info div.body .up a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div.info div.body .up i {
  left: 18%;
}
div.info div.body .up span {
  left: 30%;
}
div.info div.body .up a {
  right: 8%;
  height: 50px;
  width: 85px;
  color: #3f51b5;
  display: flex;
  font-size: 30px;
  align-items: center;
}
div.info div.body .up a label {
  cursor: pointer;
}
div.info div.body .up a label:first-child {
  font-size: 18px;
}
div.info div.body .up a label:last-child {
  font-size: 18px;
  align-self: flex-start;
}
div.info div.body .mid {
  width: 300px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
div.info div.body .mid a {
  text-align: center;
  position: relative;
  height: 50px;
}
div.info div.body .mid a span {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}
div.info div.body .mid a i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div.info div.body .mid a i:first-child {
  left: 18%;
}
div.info div.body .mid a i:last-child {
  right: 20%;
}
div.info div.body .down {
  width: 300px;
  height: 50px;
  align-self: start;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}
div.info div.body .down button {
  font-size: 16px;
  color: #f73d16;
  cursor: pointer;
  background-color: #ffffff00;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
  margin: 10px;
}
div.info .sub {
  width: 320px;
  height: calc(100vh - 50px - 260px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
div.info .sub .back {
  margin: 15px 0;
  transform: translateX(130%);
}
div.info .sub .item div table th,
div.info .sub .item div table td {
  text-align: center;
}
div.info .sub .item .feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
div.info .sub .item .feed div {
  width: 250px;
}
div.info .sub .item .about {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.info .sub .item .about > div {
  margin: 10px;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


/*# sourceMappingURL=main.css.map*/